<header class="jumbotron">    
    <h1>IoT Pic Cadastro</h1>

</header>

<section class="container">
    <div class="row">
        <p *ngIf = "mensagem" class="alert alert-success">
            {{mensagem}} 
        </p>
        <form [(formGroup)]="formCadastro" class="col-sm-6" (ngSubmit)="salvar()">

            <div class="form-group">
                <label for="">Titulo</label>
                <input  formControlName='titulo'
                        [(ngModel)] = "foto.titulo"
                        name = "titulo"
                        type="text" 
                        class="form-control">
                    <span *ngIf="formCadastro.controls.titulo.errors">
                    <span *ngIf="formCadastro.controls.titulo.errors.required" class="form-control alert-danger">
                        Campo Obrigatorio
                    </span>
                    <span *ngIf="formCadastro.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Digite pelo menos 3 caracteres
                    </span>
                </span>
            </div>
            <div class="form-group">
                <label for="">Url</label>
                <input  formControlName='url'
                        [(ngModel)] = "foto.url"
                        name = "url"
                        type="text" 
                        class="form-control">

                        <span *ngIf="formCadastro.controls.url.invalid" class="form-control alert-danger">
                            Campo Url Obrigatorio
                        </span>
                        <span *ngIf="formCadastro.controls.url.invalid" class="form-control alert-danger">
                            Campo Url Obrigatorio
                        </span>
            </div>
            <div class="form-group">
                    <label for="">Descricao</label>
                    <textarea   formControlName='descricao'
                                [(ngModel)] = "foto.descricao"
                                name = "descricao"
                                type="text" 
                                class="form-control"></textarea>
            </div>
            <a [routerLink]="['']" class="btn btn-default">Voltar</a>

            <button [disabled]="formCadastro.invalid" type="submit" class="btn btn-primary">Salvar</button>

        </form>

            
            <aside class="col-sm-4">

                <painel *ngIf="foto.titulo" titulo="{{foto.titulo}}">
                    <foto url="{{foto.url}}" titulo="{{foto.titulo}}">
                        {{foto.descricao}}
                    </foto>
                </painel>
                <!-- <h1>Hello Preview</h1>
                <h3>{{foto.titulo}}</h3>
                <h3>{{foto.url}}</h3>
                <h3>{{foto.descricao}}</h3> -->
            </aside>

    </div>
</section>

<a [routerLink]="['']" class="btn btn-primary">Voltar</a>