<header class="jumbotron">
  <h1 class="text-center">
    {{texto}}
  </h1>
</header>
  <div class="container" style="text-align:center">
    <form>
      <div class="col-md-12 form-group">      
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Filtrar pelo nome da placa">
        
        <a [routerLink]="['cadastro']"  class="btn btn-primary">Cadastro</a>
      </div>
    </form>

    <div class="row"> 

      <p *ngIf="mensagem" class="alert alert-warning">
        {{mensagem}}
      </p>
    
      <painel class="col-sm-2" *ngFor = "let foto of listaFotos" titulo="{{foto.titulo}}">
      <foto  url="{{foto.url}}" titulo="{{foto.titulo}}"><br></foto>
      <button (click)="excluir(foto )" class="btn btn-danger center-block">Del</button>
      </painel>
      </div>
  </div>